// colors
$grey: #717171;
$light-grey: #EFEFEF;
$white: #FFFFFF;
$black: #222222;
$black-light: rgba($black, 0.7);
$grey-light: lighten($black, 40%);

$violett: #B6A6F8;

$yellow: #EEBD41;
$red: #D04F3A;
$blue: #5887F1;
$green: #63A557;
$blue-light: #4697CE;

// font weights
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;

// 
$content-margin: 30px;
